*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
  color: #492915;
}

.img-container {
  width: 70%;
  background: url(./images/lucas-mendes-TkDqIqHAwew-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brand-container {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 17%;
}

#brand {
  font-size: 90px;
  font-family: 'Rosaline', cursive;
  color: white;
}

.img-container > p {
  color: white;
  margin-bottom: 3px;
}

.img-container a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
  padding-top: 100px;
}

header {
  margin-bottom: 40px;
  padding: 0 40px;
}

p:nth-child(2) {
  margin-top: 18px;
}

.container,
.form-actions {
  padding: 40px 40px 10px 40px;
}

header,
#input-header {
  font-weight: 700;
  font-size: 24px;
}

.container > p {
  margin-bottom: 30px;
}

.container {
  background-color: white;
  box-shadow: 0px 4px 8px rgb(186, 185, 185);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 3px;
  width: 250px;
} 

input {
  border: 1px solid #D6D9DC;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  width: 250px;
}

input:focus {
  box-shadow: 2px 2px 5px grey;
  outline: none;
  border: none;
}

input[class='error'] {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none; 
}

#error {
  color: #d55c5f;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  height: 13px;
}

.form-actions button {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #982B02;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: rgb(159, 65, 30);
}

.form-actions p {
  font-weight: 500;
  font-size: 18px;
}

.form-actions a {
  text-decoration: none;
  font-weight: 700;
  color: #982B02;
}

@media only screen and (max-width: 850px) {
  body {
    flex-direction: column;
  }
  .img-container {
    width: 100vw;
    min-height: 40dvh;
  }
  .form-container {
    padding-top: 30px;
  }
  .form-actions {
    margin-bottom: 50px;
  }
}

footer {
  align-self: center;
  margin-bottom: 3px;
}

