*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: #492915;
}

.img-container {
  width: 70%;
  background: url(/images/lucas-mendes-TkDqIqHAwew-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-container {
  width: 100%;
  min-width: 440px;
  height: 120px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#brand {
  font-size: 90px;
  font-family: 'Rosaline', cursive;
  color: white;
}

.img-container > p {
  color: white;
  position: absolute;
  bottom: 3px;
}

.img-container a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
  height: 100vh;
}

header,
.container,
.form-actions {
  padding: 40px;
}

header,
#input-header {
  font-weight: 700;
  font-size: 24px;
}

p:nth-child(2) {
  margin-top: 18px;
}

.container > p {
  margin-bottom: 18px;
}

.container {
  background-color: white;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 3px;
} 

input {
  border: 1px solid #D6D9DC;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

input:focus {
  box-shadow: 2px 2px 5px grey;
  outline: none;
  border: none;
}

.form-actions button {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #982B02;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: rgb(156, 61, 27);
}

.form-actions p {
  font-weight: 500;
  font-size: 18px;
}

.form-actions a {
  text-decoration: none;
  font-weight: 700;
  color: #982B02;
}

@media only screen and (min-width: 700px) {
  input {
    width: 250px;
    height: initial;
  }
  label {
    width: 250px;
    margin-top: 7px;
  }
}

footer {
  align-self: center;
  position: absolute;
  bottom: 3px;
}

